---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Pill from '../../components/Pill.astro';
import { Tag } from '../../content/config';

const posts = (await getCollection('blog'))
	.filter((post) => post.data.status === 'published' || import.meta.env.DEV)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const tagsColoursMap = new Map([
	[Tag.Values['EF Core'], { backgroundColour: 'bg-purple-100 dark:bg-purple-900', textColour: 'text-purple-600 dark:text-purple-300' }],
])
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				line-height: 1;
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="container mx-auto px-3 py-5 flex max-w-4xl">
				{
					posts.length === 0 &&
					import.meta.env.PROD &&
					(
						<div class="text-center block m-auto">
							<h4 class="text-2xl">No posts yet</h4>
						</div>	
					)
				}
				<section>
					<ul>
						{
							posts.map((post) => (
								<li>
									<a href={`/blog/${post.slug}/`}>
										<div class="bg-gradient-to-b dark:from-gray-900 dark:to-slate-800 border from-gray-50 to-slate-50 border-gray-200 dark:border-gray-600 rounded-xl p-8 relative overflow-clip">
											{import.meta.env.DEV && post.data.status !== 'published' && (
												<Pill text={post.data.status} backgroundColour="bg-yellow-200 text-yellow-900" textColour="text-white" />
											)}
											<h4 class="title pb-2 text-xl">{post.data.title}</h4>
											{post.data.tags?.map((tag => 
												<Pill text={tag} backgroundColour={tagsColoursMap.get(tag)?.backgroundColour} textColour={tagsColoursMap.get(tag)?.textColour} />))}
												<p class="date">
													<FormattedDate date={post.data.pubDate} />
													</p>
											<div class="absolute w-40 h-40 bg-purple-500 rounded-full top-1/4 left-3/4 opacity-15 blur-xl bg-blend-lighten"></div>
										</div>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</div>
		</main>
		<Footer />
	</body>
</html>
