---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, TWITTER_URL, LINKEDIN_URL, GITHUB_URL, EMAIL_ADDRESS } from '../consts';
import Pill from '../components/Pill.astro';

const telentTechnologies = ['.NET 6 to 8+', 'ASP.NET Core', 'Entity Framework Core', '.NET Framework', 'Angular', 'TypeScript', 'MS SQL Server'];
const createAngularAppTechnologies = ['Angular', 'TypeScript', 'Tailwind'];
const personalWebsiteTechnologies = ['Astro', 'TypeScript', 'Tailwind'];
---

<html lang="en">
  <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
		<Header title={SITE_TITLE} />
    <main>
			<div class="container mx-auto px-3 py-5 flex max-w-4xl">
				<div class="flex md:flex-row flex-col mx-auto">
					<div class="basis-1/3">
						<div class="relative">
							<img src="/headshot.webp" alt="Portrait" class="mx-auto max-h-64 rounded-full" />
						</div>
						<div class="flex flex-col items-center gap-2">
							<h1 class="text-3xl pt-4">Josh Hills</h1>
							<div class="flex flex-col gap-2 relative">
								<span>
									<i class="bi bi-briefcase"></i>
									<span class="pl-1"><a href="https://telent.com" target="_blank">Telent</a></span>
								</span>
								<span>
									<i class="bi bi-envelope"></i>
									<span class="pl-1"><a href={`mailto:${EMAIL_ADDRESS}`} target="_blank">josh@joshhills.co.uk</a></span>
								</span>
								<span>
									<i class="bi bi-twitter-x"></i>
									<span class="pl-1"><a href={TWITTER_URL} target="_blank">joshhills99</a></span>
								</span>
								<span>
									<i class="bi bi-github"></i>
									<span class="pl-1"><a href={GITHUB_URL} target="_blank">joshuahills</a></span>
								</span>
								<span>
									<i class="bi bi-linkedin"></i>
									<span class="pl-1"><a href={LINKEDIN_URL} target="_blank">joshuahills99</a></span>
								</span>
								<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 h-48 w-48 rounded-full bg-slate-300 dark:bg-slate-500 opacity-20 blur-2xl -z-10"></div>
							</div>
						</div>
					</div>
					<div class="justify-center gap-3 basis-2/3 max-w-screen-md">
						<div class="p-3">
							<h2 class="text-3xl underline decoration-sky-400 decoration-2 underline-offset-2 pb-2">Overview</h2>
							<p>
								I'm a passionate software engineer, currently working at <a class="dark:text-sky-300 text-sky-500 font-semibold" href="https://www.telent.com">Telent</a> in Warwick, UK.
							</p>
							<p>
								I work with .NET (C#), TypeScript, Angular, and Microsoft SQL Server.
							</p>
						</div>
						<hr class="my-4 mx-20 h-0.5 border-0 dark:bg-gray-700 bg-gray-300">
						<div class="p-3">
							<h2 class="text-3xl underline decoration-blue-400 decoration-2 underline-offset-2 pb-2">Experience</h2>
							<p class="text-2xl font-semibold pb-1">
								<a href="https://telent.com" class="pb-2 inline-flex items-center">
									Telent Technology Services
								</a>
							</p>
							{telentTechnologies.map((technology) =>
								<Pill text={technology} backgroundColour="bg-blue-100 dark:bg-blue-900" textColour="text-blue-700 dark:text-blue-300"/>
							)}
							<span class="flex">
								<p class="text-lg">Engineer - Software Development</p>
								<p class="italic ml-auto">Sep 2023 - Current</p>
							</span>
							<div class="text-sm pb-2">
								<ul class="list-disc list-inside leading-6">
									<li>Mentoring graduates</li>
									<li>Driving code quality forward</li>
									<li>Building highly scalable hybrid-cloud applications</li>
									<li>Prototyping innovative concepts</li>
									<li>Building real-time video streaming applications</li>
									<li>Integrating with legacy hardware and systems</li>
								</ul>
							</div>
							<span class="flex">
								<p class="text-lg">Graduate Software Engineer</p>
								<p class="italic ml-auto">Sep 2021 - Sep 2023</p>
							</span>
							<div class="text-sm pb-2">
								<ul class="list-disc list-inside leading-6">
									<li>Rotating across teams and learning products</li>
									<li>Researching and implementing single sign-on</li>
									<li>Upgrading .NET Framework applications to .NET 6+</li>
									<li>Migrating an application from Angular 7 to Angular 14+</li>
								</ul>
							</div>
						</div>
						<hr class="my-4 mx-20 h-0.5 border-0 dark:bg-gray-700 bg-gray-300">
						<div class="p-3">
							<h2 class="text-3xl underline decoration-indigo-600 decoration-2 underline-offset-2 pb-2">Projects</h2>
							<p class="text-2xl font-semibold pb-1">
								<a href="https://github.com/joshuahills/create-angular-app" class="pb-2 inline-flex items-center">
									create-angular-app
								</a>
							</p>
							{createAngularAppTechnologies.map((technology) =>
								<Pill text={technology} backgroundColour="bg-indigo-100 dark:bg-indigo-900" textColour="text-indigo-700 dark:text-indigo-300"/>
							)}
							<p>
								A CLI tool for generating very opinionated Angular applications with Tailwind and a set of recommended ESLint rules.
								Reduces the boilerplate and time required to set up a new Angular application with the configuration I always use.
							</p>
							<p class="text-2xl font-semibold pt-2">
								<a href="/" class="pb-2 inline-flex items-center">
									Personal Website
								</a>
							</p>
							{personalWebsiteTechnologies.map((technology) =>
								<Pill text={technology} backgroundColour="bg-indigo-100 dark:bg-indigo-900" textColour="text-indigo-600 dark:text-indigo-300"/>
							)}
							<p>
								This website and blog. Created with <a class="text-indigo-500 dark:text-indigo-300 font-semibold" href="https://astro.build/">Astro</a>.
							</p>
						</div>
				</div>
			</div>
		</main>
		<Footer />
  </body>
</html>
